.Step img {
    width: 190px;
}

.Step h4 {
    font-weight: 700;
    margin-top: -10px;
    font-size: 1.3rem;
    color: #424242;
}

.Step p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;
}

@media screen and (min-width: 500px) {
    .Step img {
        width: 220px;
    }

    .Step h4 {
        font-size: 1.5rem;
    }

    .Step p {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 95%;
        color: #727272;
    }
    
}